@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: beige;
}

main {
    display: flex;
    justify-content: center;
}

.back-arrow-icon {
    width: 30px;
    margin-top: 15px;
    margin-bottom: -20px;
    margin-left: -30px;
    transition: .3s;
}

.back-arrow-icon:hover {
    transform: translateX(-10px);
}

form div {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

form label {
    width: 10px;
}

form select, form input, form textarea{
    width: 330px;
    height: 80px;
    border: 0;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 20px;
    box-shadow: 0 0 10px hsl(0, 0%, 0%, .3);
    font-size: 1.2em;
}

label[for~='id_description'] {
    display: flex;
}

form textarea {
    height:200px;
    margin-left: 0;
    margin-top: 15px;
    padding-top: 30px;
    padding-right: 10px;
    font-size: 1.1em;
    font-family: "Poppins", sans-serif;
}

form select {
    font-size: .96em;
    cursor: pointer;
}

.submit-btn {
    border: 0;
    width: 180px;
    height: 45px;
    border-radius: 5px;
    background-color: rgb(217, 217, 84);
    color: #fff;
    box-shadow: 0 0 10px hsl(0, 0%, 0%, .2);
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: .3s;
}

.submit-btn:hover {
    transform: translateY(-10px);
}

.add-group-div {
    background-color: #ffffff;
    width: 100px;
    border-radius: 7px;
    position: absolute;
    text-align: center;
    margin-left: 400px;
    margin-top: 3px;
    transform: translateY(-25px);
    visibility: hidden;
    transition: .3s;
    opacity: 0;
}

.add-group-link {
    color: rgb(33, 33, 33);
    text-decoration: none;
    font-size: .8em;
}

.groups-div:hover .add-group-div {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.display {
    display: none;
    font-weight: 300;
    font-size: .9em;
}