{% extends 'main.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/change-password.css' %}">

<main>
    <div class="content">
        <a href="{{request.META.HTTP_REFERER}}">
            <img src="{% static 'images/back-arrow.svg' %}" alt="back-arrow-icon" class="back-arrow-icon">
        </a>
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <label for="id_old_password">Old Password:</label>
                <input type="text" name="old_password" id="id_old_password">
            </div>
            <div>
                <label for="id_new_password">New Password:</label>
                <input type="text" name="new_password" id="id_new_password">
            </div>
            <div>
                <label for="id_confirm_password">Confirm Password:</label>
                <input type="text" name="confirm_password" id="id_confirm_password">
            </div>

            <input type="submit" value="Submit" class="submit-btn">
        </form>
    </div>
</main>

{% endblock content %}